{{#modal.3.rascal}}
    <article class="row">
        <div class="span6">
            {{#image}}
                <a href="#"><img style="width: 49%; float: left" src="{{src}}"></a>
            {{/image}}
        </div>
        <div class="span6">
            <h3>{{title}}</h3>
            <dl>
                <dt>price</dt>
                <dd>{{price}}</dd>

                <dt>Brand</dt>
                <dd>{{brand}}</dd>
            </dl>
        </div>
    </article>
{{/modal.3.rascal}}