{{#toysInfo}}
<div style="float: left; margin: 20px">

        <a href="#image">
            <img style="display: inline " src="{{toysPics}}"/>
        </a>
        <div style="display: inline">
            <h3>{{title}}</h3>
            <dl>
                <dt>price</dt>
                <dd>{{price}}</dd>
            </dl>
        </div>

</div>
{{/toysInfo}}
