<ul class="nav footer">
    {{#footer.0.navTab}}
        <li class="active">
        <li><a href="{{url}}">{{buttonName}}</a></li>
    {{/footer.0.navTab}}
</ul>
<ul class="nav  pull-right">
    {{#footer.1.network}}
        <li><a href="{{url}}">
                <img src="{{src}}">
             </a>
        </li>
     {{/footer.1.network}}
</ul>