<div class="container-fluid">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container" id="header">
            </div>
        </div>
    </div>
    <div class="row-fluid">

        <div class="span10 main">
            <div class="row-fluid kidsImage">
                <div class="span6">
                    <img src="data/img/wall-image/new_arrivals.jpg">
                    <a href="#myModal" role="button" class="btn" data-toggle="modal">by Carter's</a>
                    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style = "display:none;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel">New Arrivals</h3>
                        </div>
                        <div class="modal-body" id="nArrivals">

                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <img src="data/img/wall-image/halloween.jpg">
                    <a href="#myModal1" role="button" class="btn" data-toggle="modal">Halloween costumes!</a>
                    <div class="modal" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal1Label" aria-hidden="true" style = "display:none;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModal1Label">Halloween costumes!</h3>
                        </div>
                        <div class="modal-body" id="halloween">

                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid kidsImage">
                <div class="span6">
                    <img src="data/img/wall-image/shoes.gif">
                    <a href="#myModal2" role="button" class="btn" data-toggle="modal">Shoes!</a>
                    <div class="modal" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal2Label" aria-hidden="true" style = "display:none;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModal2Label">Shoes!</h3>
                        </div>
                        <div class="modal-body" id="shoes">

                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <img src="data/img/wall-image/little_rascal.jpg">
                    <a href="#myModal3" role="button" class="btn" data-toggle="modal">Rascal Baby Boy!</a>
                    <div class="modal" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModal3Label" aria-hidden="true" style = "display:none;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModal3Label">Rascal Baby Boy!</h3>
                        </div>
                        <div class="modal-body" id="rascal">

                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>
                </div>
                <div class="row-fluid logo">
                    <div class="span8">
                        <img src="data/img/wall-image/carters_family_shop_plp.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="span2">
            <ul class="nav nav-list">
                <li class="active"><a href="#toys">Toys</a></li>
                <li><a href="#clothes">Clothes</a></li>
                <li><a href="#">Attractions</a></li>
                <li><a href="#">Accessories</a></li>
                <li><a href="#games">Games</a></li>
            </ul>
        </div>
    </div>
    <div class="navbar navbar-inner navbar-fixed-bottom">
        <div class="container" id="footer_bottom">

        </div>
    </div>

</div>